source ~/.vimrc

" Don't use Ex mode, use Q for formatting.
map Q gq

"" enable plugins
set sneak
set ideajoin

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" map \r to the Reformat Code action
map \r <Action>(ReformatCode)

"" use :actionlist to check search actions
map <leader>d <Action>(Debug)

map \j <Action>(JoinLines)
nnoremap <c-z> <Action>(ToggleDistractionFreeMode)
map <c--> <Action>(SplitHorizontally)
map <c-\> <Action>(SplitVertically)
map <c-t> <Action>(ActivateTerminalToolWindow)
set clipboard+=ideaput



